Source: min-doc
Section: doc
Priority: optional
Maintainer: Sampo Saaristo <ext-sampo.1.saaristo@nokia.com>
Build-Depends: texinfo,texlive,doxygen
Standards-Version: 3.8.0

Package: min-doc
Section: doc
Architecture: all
Depends:
Description: Documentation for MIN Test Framework
  Documentation for MIN Test Framework in html and pdf formats.
