Source: minpythonmodule
Section: devel
Priority: optional
Maintainer: Sampo Saaristo <ext-sampo.saaristo@nokia.com>
Build-Depends: debhelper (>= 4.0.0), python2.5-dev, min-dev
Standards-Version: 3.8.0

Package: minpythonmodule
Section: devel
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, min-dev, python
Description: Python scripter module for MIN
 Python scripter for MIN.
