body {
	font-family: Arial,Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px 0px 0px 0px;
}

h1 {
	font-size: 1.5em;
	padding: 10px 10px 10px 10px;
}

h2 {
	font-size: 1.4em;
	padding: 10px 10px 10px 10px;

}

h3 {
	font-size: 1.3em;
	padding: 10px 10px 10px 10px;

}

h4 {
	font-size: 1.2em;
	padding: 10px 10px 10px 10px;

}

h5 {
	font-size: 1.1em;
	padding: 10px 10px 10px 10px;
}

dt, dd, dt b, dd b {
	padding: 2px 10px 2px 10px;
}

dd p, dt b, dt code {
	padding: 2px 0px 2px 0px;
}



ul.menu, ul.menu li {
	max-height: 0px;
	visibility:hidden;
	line-height: 0px;
}

pre, code {
	font-family: Courier New, monospace
}

div, p, pre {
	padding: 2px 10px 2px 10px;
}

div.node {
	display: block;
	background-color: #cccccc;
	border-top: solid 2px #000000;
}

div.node p {
	margin: 0px;
	padding: 0px;
}



hr {
	margin: 0px;
	border; 0px;
	height: 0px;
	max-height: 0px;
	visibility: hidden;
	color: #000000;
}

img {
	border: none;
	margin: 5px;
}

table {
	margin: 10px;
}

div.node a, div.node a:hover, div.node a:visited, div.node a:active {
	text-decoration: none;
	font-weight: bold;
	color: #5555ff;

}

div.node a:hover {
	color: #9999ff;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #5555ff;
}

a:hover {
	color: #9999ff;
}

