#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g


build:  build-stamp

build-stamp:
	dh_testdir
	cp ./Makefile.am.dpkg Makefile.am
	touch README ChangeLog AUTHORS NEWS
	./autogen.sh --prefix=/usr --sysconfdir=/etc/min.d/
	./configure --prefix=/usr --sysconfdir=/etc/min.d/
	$(MAKE) CC="$(CC)" CXXFLAGS="$(CXXFLAGS)"
	touch build-stamp

clean:
	dh_testdir
	dh_clean 
	rm -f build-stamp
	[ ! -f Makefile ] || $(MAKE) distclean

install:
	dh_testdir
	dh_clean -k 
	dh_installdirs -s

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	dh_install --sourcedir=debian/tmp


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_strip
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
