Source: min-ci-tests
Section: libs
Priority: optional
Maintainer: Sampo Saaristo <sampo.1.saaristo@nokia.com>
Build-Depends: debhelper, min, min-dev
Standards-Version: 3.8.0

Package: min-ci-tests
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, min
Description: Tests for MIN utilities used for CI
 This package includes MIN test modules that can be used to test MIN itself.
