Source: min-all
Section: devel
Priority: optional
Maintainer: Sampo Saaristo <ext-sampo.1.saaristo@nokia.com>
Build-Depends: debhelper (>= 4.0.0), chrpath, libncurses5-dev, python-dev (>= 2.5), libdbus-1-dev, libdbus-glib-1-dev, libqt4-dev
Standards-Version: 3.8.0

Package: min
Section: devel
Suggests: min-doc
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses5, ncurses-base (>= 5)
Description: A test framework for C
 The MIN test framework provides a toolset for creating and executing test cases. Test cases are compiled into module(s).
 MIN engine starts a Test Module Controller (TMC) for each test module. TMC in turn forks a process for each test case when the test is executed. 
 Tests are run in own process so that e.g. segfaults can be caught and handled. MIN can be operated via console UI (ncurses) or from the commandline.

Package: min-dev
Section: devel
Priority: extra
Architecture: any
Depends: build-essential, min, ${shlibs:Depends}, ${misc:Depends}
Description: MIN headers and testmodule wizard
 The headers and tools needed to develop MIN test modules

Package: minpythonmodule
Section: devel
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, min, python
Description: Python scripter module for MIN
 Python scripter for MIN.

Package: min-tests
Priority: optional
Architecture: any
XB-Maemo-CI-Packages: min
XB-Maemo-CI-Stage: acceptance
Depends: ${shlibs:Depends}, ${misc:Depends}, min 
Description: MIN Basic Acceptance Tests.
 Tests of MIN

Package: min-ci-tests
Priority: optional
Architecture: any
XB-Maemo-CI-Packages: min
XB-Maemo-CI-Stage: staging
Depends: ${shlibs:Depends}, min, minpythonmodule, ci-testing
Description: Tests for MIN utilities used for CI
 This package includes MIN test modules that can be used to test MIN itself.

Package: mindbusplugin
Section: devel
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, min
Description: DBus plugin for MIN
 Allows interaction with MIN through DBus intreface.

Package: min-qt
Section: devel
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, min, mindbusplugin
Description: Qt GUI for MIN
 MIN graphical user interface written in Qt

Package: min-qt-maemo
Section: devel
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, min, mindbusplugin
Description: Qt GUI for MIN in Maemo environment
 MIN graphical user interface written in Qt
Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABgAAAAaCAYAAACtv5zzAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAAFVSURBVEiJ1ZS7SgNBFIa/swkJJN5ik06w
 FCsLQSxFUgUrGyux9xkcB3yaFKawEwWRvICFpZY2NoqXmOtYZBdnZ9eYyE6R
 Hw6c+c8cPubMMMIpL/yoZZSpRwvR0gD2rHrVKPMqOriGYAPyRZjPwfG6Ueph
 1KPPge2oIQAWrZgjrgJQtEJGdnkNBhXolOCrCNSsnmWgGkXAv9R9c4xa6rbw
 BAnJmaz+AWg7xo5onZ8IIFoaDHgULRfjITEtAFuTAArAfpjXEUpTQFLH5AL6
 wHuYtzF0swYMEQ6BG4SjEDipNkXrimsmLsacmCbQBBAtB1MAAmA3zcxSiTFl
 ADDGM2DYsxYrEH95GQAG7kuLXXQGgL5vwLAHPFvGUsYAAK6sPOcDcPlbYTYA
 Rqkn4N4bIFTqKWYKcAt0vAGMUp9AyxsgVGJM3gF54nNz/5WuUzeM1x3wAZQj
 4xupfVB1ukIwMAAAAABJRU5ErkJggg==

Package: min-all
Section: devel
Priority: extra
Architecture: any
Depends: min, minpythonmodule, min-dev, min-tests
Description: MIN metapakage
 All MIN packages
