#!/usr/bin/make -f
CC = gcc
CFLAGS = -g -Wall
export DH_VERBOSE=1

package = min-all

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O2
endif

DEB_HOST_ARCH      ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
confflags += --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)

SUBDIRS="min minpythonmodule mintests mindbusplugin"
ALLDIRS="min minpythonmodule mintests mindbusplugin minqt"
INSTALL_ROOT = $(CURDIR)/debian/tmp
build: build-stamp
build-stamp:
	dh_testdir
	for FILE in "$(SUBDIRS)"; do \
		cd "$$FILE"; \
		./autogen.sh $(confflags);  \
		./configure --prefix=/usr --sysconfdir=/etc $(confflags)\
		$(MAKE) CC="$(CC)" CFLAGS="$(CFLAGS)"; \
		touch build-stamp; \
		$(MAKE) || exit 1; \
		cd ..;\
	done
	cd minqt && qmake && $(MAKE) CC="$(CC)" CFLAGS="$(CFLAGS)" && cd ..
	touch NEWS 
	touch ChangeLog
	touch build-stamp

clean: 
	dh_clean
	rm -f build-stamp
	for FILE in "$(ALLDIRS)"; do \
		cd "$$FILE"; \
		[ ! -f Makefile ] || $(MAKE) distclean; \
		cd ..;\
	done


install: build
	dh_clean
	dh_installdirs -A etc usr/lib/min/ 
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/min
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/min-tests
	for FILE in "$(SUBDIRS)"; do \
		cd "$$FILE"; \
		$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp; \
		cd ..;\
	done
	cd minqt && $(MAKE) install "INSTALL_ROOT = $(CURDIR)/debian/tmp"
	cd ..

binary-indep: install

binary-arch: install
	dh_testroot -A
	dh_installdocs -a NEWS
	dh_installchangelogs -a ChangeLog
	dh_installdirs -A
	dh_install --sourcedir=debian/tmp
	dh_strip  -A
	dh_makeshlibs -A
	dh_compress -A
	dh_fixperms -A
	dh_installdeb 
	dh_shlibdeps
	dh_gencontrol 
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: binary binary-arch binary-indep clean checkroot
