Source: mindbusplugin
Section: devel
Priority: optional
Maintainer: Konrad Marek Zapalowicz <ext-konrad.zapalowicz@nokia.com>
Build-Depends: libdbus-1-dev, libdbus-glib-1-dev, min-dev
Standards-Version: 3.8.0

Package: mindbusplugin
Section: devel
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, min
Description: DBus plugin for MIN
 Allows interaction with MIN through DBus subsystem
