Source: HardCodedTestModuleXXX
Section: libs
Priority: optional
Maintainer: John Doe <John.Doe@example.com>
Build-Depends: debhelper, min-dev
Standards-Version: 3.8.0

Package: HardCodedTestModuleXXX
Version: 1.0
Priority: extra
Essential: no
Maintainer: john.doe@nokia.com
Architecture: any
Depends: ${shlibs:Depends}, min
Description: MIN (HardCoded) test module HardCodedTestModuleXXX
