Package: min-testlib-MINUnitXXX
Version: 1.0
Section: devel
Priority: extra
Maintainer: john.doe@nokia.com
Essential: no
Architecture: i386
Depends: min
Description: A MIN (unit) test module MINUnitXXX
